body {
    background: rgba(0, 0, 0, 0.863);
}

.container {
    text-align: center;
    background-color: rgba(51, 51, 51, 0.637);
    color: white;
    border-radius: 14px;
    margin-top: 12%;
    width: 50%;
}

h1 {
    margin-top: 50px;
    font-size: 45px;
}

.btn-search {
    margin-bottom: 20px;
}

.form-control {
    text-align: center;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}

.alert {
    width: 17%;
}